
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#wrapper {
	flex: 1;
	max-width: 900px;
}

.container {
	padding: 0;
}

header .nav-item .nav-link {
	color: #117a8b;
}

#logo {
	background: #005abf;
	border-radius: 4px;
	width: 50px;
	height: 50px;
	position: relative;
	transition: all 0.2s ease;
}

#logo span {
	color: #fff;
	cursor: none;
	font-weight: bold;
	font-size: 35px;
}

#logo span:first-child {
	position: absolute;
	left: -5px;
	transform: rotate(19deg);
}

#logo span:last-child {
	position: absolute;
	bottom: -12px;
	right: -3px;
}
#logo:hover {
	border-radius: 0;
	transform: rotate(360deg);
}

#logo:hover span:first-child {
	left: 0;
	bottom: 0;
	transform: rotate(0deg);
}

#logo:hover span:last-child {
	bottom: 0;
	right: 0;
}

#intro {
	background: transparent;
}
#intro:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: linear-gradient(155deg, #005abf 55%, #003571 100%);
    left: 0;
    height: 355px;
    z-index: -1;
}

#intro .lead {
    font-size: 25px;
    text-align: center;
    margin: 40px 0 80px;
}

.info svg {
    margin: 20px 0 0;
}

.info h3 {
    font-size: 24px;
    font-weight: 100;
}

#about {
	margin-top: 20px;
}

.category .card {
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 150px;
	background-position: center;
	cursor: pointer;
	transition: background-size 1.5s ease-in-out;
}
.category .card:hover {
	background-size: 120% auto;
}

.card .card-body {
	background-color: rgba(0,0,0,0.4);
	transition: background-color .5s linear;
}
.category .card:hover .card-body {
	background-color: transparent;
}

.category .card .card-text {
	color: #fff;
	text-shadow: 0 0px 4px #000;
	font-size: 20px;

}

.carousel-item {
	height: 600px;
	overflow: hidden;
}

.carousel-item img {
	position: absolute!important;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}



#wrapper.gallery .album .carousel {
	display: block;
}

#wrapper .album .row {
	display: flex;
}

#wrapper .album .carousel,
#wrapper.gallery .album .row {
	display: none;
}

#wrapper.gallery .jumbotron {
	display: none;
}

#btn {
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 9999;
	margin-bottom: 20px;
}

#btn button {
	border-color: #117a8b;
	color: #117a8b;
}

#btn button:hover {
	color: #fff;
}

#contact-me {
	padding: 20px;
	border: 3px dashed #777;
}

#contact-me h2 {
	text-transform: uppercase;
	color: #555;
}


#submit-form {
	    margin-top: 20px;
}

#about #about-text {
	display: flex;
    justify-content: center;
}

#about-text h1 {
	margin-bottom: 14px;
}

#about-text p {
 padding: 0px 18px;
}
