
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#wrapper {
	flex: 1;
}

header .nav-item .nav-link {
	color: #117a8b;
}



.jumbotron {
    margin-top: 20px;
}


.category .card {
	background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    background-position: center;
    cursor: pointer;
}

.card .card-body {
	background-color: rgba(0,0,0,0.4);
	transition: background-color .5s linear;
}
.category .card:hover .card-body {
	background-color: transparent;
}

.category .card .card-text {
	color: #fff;
	text-shadow: 0 0px 4px #000;
	font-size: 20px;

}

.carousel-item {
	height: 500px;
	overflow: hidden;
}

.carousel-item img {
    position: absolute!important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}



#wrapper.gallery .album .carousel {
	display: block;
}

#wrapper .album .row {
	display: flex;
}

#wrapper .album .carousel,
#wrapper.gallery .album .row {
	display: none;
}

#wrapper.gallery .jumbotron {
	display: none;
}

#btn {
	display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 9999;
    margin-bottom: 20px;
}

#btn button {
	border-color: #117a8b;
    color: #117a8b;
}

#btn button:hover {
	color: #fff;
}